/* ==========================================================================
#COMPANY
========================================================================== */

.company {
    margin-bottom: 30px;

    &__title {
        font-size: 18px;
        color: #000;
        margin-bottom: 44px;

        &--ketering {
            margin-bottom: 5px !important;
        }

    }

    &__items {

        &--narrow {
            width: 100%;
            display: block;
            float: left;
            margin-bottom: 54px;

            @include min-screen(640px) {
                max-width: 213px;
            }

        }

        &--wide {
            overflow: hidden;
            clear: both;
            margin-bottom: 24px;

            @include min-screen(640px) {
                margin-bottom: 54px;
                padding-left: 16px;
                clear: none;
            }

        }

        &--half {
            width: 100%;
            float: left;
            margin: 0px -6px 24px;
            padding-left: 6px;

            @include min-screen(640px) {
                width: 50%;
                margin-bottom: 54px;
            }

            &:nth-of-type(2n) {

                @include min-screen(640px) {
                    padding-left: 28px;
                }

            }

            .company__title {
                margin: 0 0 25px 0px;
            }

        }

    }

    &__images {
        margin: 0 -6px;

        img {
            margin: -16px 0px 0 0;
            padding: 0 7px;
        }

    }

    &__box {
        background: #d8d8d8;
        width: 100%;
        height: 42px;
        margin: 0px 6px 12px 6px;
        float: left;

        &--1 {
            max-width: 114px;
        }

        &--2 {
            max-width: 81px;
        }

        &--3 {
            max-width: 109px;
        }

        &--4 {
            max-width: 81px;
        }

        &--5 {
            max-width: 104px;
        }

        &--r1 {
            max-width: 121px;
        }

        &--r2 {
            max-width: 85px;
        }

        &--r3 {
            max-width: 61px;
        }

    }

}


