/* ==========================================================================
#FOOTER
========================================================================== */

.footer-wide {
    position: relative;
    min-height: 345px;
    padding-top: 67px;
    background: #ffebf2 url(images/donut.png) no-repeat scroll right bottom;
    background-size: 50%;
    box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);

    @include min-screen(768px) {
        background-size: auto;
    }

    &:before {
        content: '';
        width: 141px;
        height: 171px;
        display: block;
        background: url(images/footer-line-1.svg) no-repeat;
        position: absolute;
        bottom: 0;
    }

    &:after {
        content: '';
        position: absolute;
        right: 368px;
        bottom: 0px;
        display: none;
        width: 374px;
        height: 96px;
        background: url(images/footer-line-2.svg) no-repeat;

        @include min-screen(768px) {
            display: block;
        }
    }

}

.widget-about {
    p {
        color: #222;
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

.logo-footer {
    margin: -4px 0 20px;
}

.social-icons {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;

    @include min-screen(768px) {
        margin-bottom: 0px;
    }

    li {
        display: inline-block;
        margin-right: 15px;
    }

    a {
        display: block;
        text-indent: -999em;
        width: 25px;
        height: 25px;

        &.tiktok {
            background: url(images/tiktok.png) no-repeat;
        }

        &.facebook {
            background: url(images/facebook.png) no-repeat;
        }

        &.instagram {
            background: url(images/instagram.png) no-repeat;
        }

    }

}

.footer-menu {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;

    @include min-screen(992px) {
        padding: 0 0 0 45px;
    }

    li {
        display: block;
        margin-bottom: 8px;
    }

    a, a:hover {
        font-size: 15px;
        color: #000;
    }

}

.footer-faq {
    list-style: none;
    padding: 0;

    @include min-screen(992px) {
        margin: 0 0 0 4px;
    }

    li {
        display: block;
        margin-bottom: 9px;
    }

    a {
        color: #222;
    }

}

.footer-team {

    p {
        color: #f454a0;

        @include min-screen(992px) {
            padding-left: 9px;
        }

    }

    .button {
        @include min-screen(992px) {
            margin: 0px 0 0 8px;
        }
    }

}

.site-info {
    clear: both;
    margin-top: 57px;
    padding-bottom: 28px;
    padding-left: 29px;
    font-size: 12px;
    color: #656565;
    letter-spacing: 0.05px;
}

