/* ==========================================================================
#BODY
========================================================================== */

body {
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
    background: url(images/sub-header.svg) no-repeat scroll center 0px;
}

/* ==========================================================================
#TYPOGRAPHY
========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Secular One', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
}


/* ==========================================================================
#LINKS
========================================================================== */

a {
    color: #f454a0;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
        color: #f454a0;
        outline: 0;
    }

}

/* ==========================================================================
#IMAGES
========================================================================== */

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

