/* ==========================================================================
#HEADER
========================================================================== */

.site-header {
    background: #ffebf2;
    margin-bottom: 38px;

    @include min-screen(480px) {
        margin-bottom: 78px;
    }

    > .container {
        display: flex;
        height: 70px;
        align-items: center;
    }

}

/* ==========================================================================
#NAVIGATION
========================================================================== */

.nav {
    display: inline-block;
    margin-left: auto;

    @include min-screen(320px) {
        margin: 0 auto;
    }

    &__toggle {
        width: 35px;
        height: 35px;
        background: #f650a0;
        border: 1px solid #f650a0;
        border-radius: 3px;

        @include min-screen(992px) {
            display: none;
        }

        &:focus {
            outline: 0;
        }

        &-icon {
            position: relative;
            display: block;
            height: 2px;
            background: #fff;

            &:before {
                content: '';
                position: absolute;
                top: -8px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
            }

        }

    }

}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    @include min-screen(992px) {
        display: block;
    }

    &.mobile-on {
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 99;
        width: 100%;
        display: block;
        background: #f650a0;
        animation: menuSlideUp 0.5s;

        @include min-screen(992px) {
            display: none;
        }

        li {
            display: block;
            border-bottom: 1px solid #fff;
            text-align: center;
            padding: 10px;
        }

    }

    li {
        display: inline-block;
    }

    a {
        font-size: 15px;
        letter-spacing: 0.05px;
        color: #000;
        text-transform: uppercase;
        margin-right: 19px;
        text-decoration: none;
    }

}

@keyframes menuSlideUp {
    0% {
        top: 100px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ==========================================================================
#EXTRAS
========================================================================== */

.site-extras {
    font-size: 14.3px;
    letter-spacing: 0.05px;
    display: none;

    @include min-screen(320px) {
        display: block;
    }

    a {
        text-decoration: none;
    }

    &__sep {
        font-weight: bold;
        font-size: 13px;
    }

    &__eng {
        color: #000;
    }

    &__cart {
        background: url(images/cart.svg) no-repeat -1px 3px;
        padding-left: 20px;
        margin: 0 3px 0 16px;
        display: block;

        @include min-screen(360px) {
            display: inline-block;
        }

    }

}

