/* ==========================================================================
#HELPERS
========================================================================== */

.clearfix {
    clear: both;
}

.font-secondary {
    font-family: 'Secular One', sans-serif;
}

.ttu {
    text-transform: uppercase;
}

.button {
    display: inline-block;
    background: #f454a0;
    padding: 6px 15px 4px;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 1px 9px 0 var(--navy-20);
    border-radius: 2px;

    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
    }
}

