/* ==========================================================================
#LOCATION
========================================================================== */

.location {

    &__inner {
        background: #fff;
        box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
        margin-bottom: 43px;
        overflow: hidden;
    }

    &__info {
        padding: 22px;

        @include min-screen(768px) {
            padding: 43px;
        }

        @include min-screen(992px) {
            padding: 43px 85px 33px 27px;
        }

    }

    &__title {
        background: url(images/location.svg) no-repeat scroll 0 0;
        font-size: 22px;
        line-height: 1;
        letter-spacing: 0.07px;
        border-bottom: 1.2px solid #e7e7e7;
        padding: 0 0 14px 23px;
        margin: 0 0 15px;
    }

    &__address {
        display: block;
        font-style: normal;
        text-decoration: underline;
        font-size: 14px;
        letter-spacing: 0.05px;
        margin: 8px 0 -3px;
    }

    p {
        margin-top: 13px;
    }

    &__contact {

        &-title {
            font-weight: normal;
            letter-spacing: 0.05px;
        }

        a {
            text-decoration: underline;
            color: #000;
        }

    }

    &__availability {
        @include min-screen(768px) {
            padding: 0 0 0 29px;
        }
    }

    &__tags {
        margin: 17px 0 0 -3px;
    }

    &__tag {
        display: inline-block;
        margin: 0 5px 9px 0;
        border-radius: 3px;
        padding: 7px 9px 4px 6px;
        color: #000;
        font-family: 'Secular One', sans-serif;
        letter-spacing: 0.04px;
        line-height: 1;
        font-size: 12.9px;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: #000;
        }

        &.pink {
            background: #ffebf2;
        }

        &.green {
            background: #a3e8d6;
        }

        &.purple {
            background: #e0c5ec;
        }

        &.yellow {
            background: #fcfa96;
        }

    }

    &__order {
        position: relative;
        border-bottom: 1px dashed #999;
        display: block;
        margin: 7px 0 30px;

        &-note {
            position: absolute;
            top: -7px;
            right: -1px;
            background: #fff;
            font-size: 11px;
            color: #999;
            letter-spacing: 0.04px;
            padding-right: 2px;
        }

    }

    &__gallery {
        margin: 0 -4px;

        img {
            float: left;
            padding: 0 4px 8px;
            width: 50%;

            @include min-screen(480px) {
                width: 25%;
            }

        }

    }

    &__map {
        padding: 37px;
        overflow: hidden;
        clear: both;

        @include min-screen(992px) {
            padding: 23px 58px 43px;
        }

        @include min-screen(992px) {
            padding: 0 0 0 30px;
            clear: none;
        }

    }

}

.gmap_canvas {
    overflow: hidden;
    background: none;
    width: 100%;
    height: 300px;

    @include min-screen(480px) {
        height: 421px;
    }

}
