/* ==========================================================================
#MASONRY
========================================================================== */

.masonry {
    clear: both;

    &__title {
        font-size: 35px;
        letter-spacing: 0.12px;
        text-align: center;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        color: #666;
        text-align: center;
        margin-bottom: 128px;
    }

}

.grid {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 100px;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    &__item {
        float: left;
        margin-bottom: 18px;

        &--w1 { width: 124px; }
        &--w2 { width: 134px; }
        &--w3 { width: 146px; }
        &--w4 { width: 178px; }
        &--w5 { width: 270px; }
        &--w6 { width: 371px; }
    }

}
