/* ==========================================================================
#SOON
========================================================================== */

.soon {
    position: relative;
    min-height: 456px;
    background: url(images/rectangle.svg) no-repeat scroll top;
    margin-bottom: 130px;

    @include min-screen(768px) {
        display: flex;
        background-position: center;
    }

    &__text {
        align-self: center;
        order: 2;
        padding: 80px 30px 0;
        text-align: left;
        width: auto;

        @include min-screen(768px) {
            padding: 0 0 0 67px;
        }

        @include min-screen(420px) {
            padding-top: 132px;
        }

    }

    &__title {
        color: #fff;
        font-size: 30px;
        line-height: 1.22;
        letter-spacing: 0.15px;
        margin-bottom: 35px;
        text-align: center;

        @include min-screen(768px) {
            font-size: 45px;
            text-align: left;
            margin-bottom: 0px;
        }
    }

    &__images {
        display: flex;
        width: 100%;
        max-width: 260px;
        margin: 0 auto;

        @include min-screen(768px) {
            max-width: 669px;
            margin: auto;
        }

    }

    &__img {

        &:last-of-type {
            margin-left: 20px;
            @include min-screen(768px) {
                margin: 132px 0 0 27px;
            }
        }

    }



}


