/* ==========================================================================
#SUB HEADER
========================================================================== */

.sub-header {
    margin-bottom: 35px;

    &__title {
        font-size: 35px;
        letter-spacing: 0.18px;
        font-weight: normal;
        margin: 0 0 5px -3px;

        @include min-screen(480px) {
            font-size: 55px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.05px;
        color: #333333;
        margin-bottom: 39px;

        @include min-screen(480px) {
            max-width: 69%;
        }

    }

}

.breadcrumbs {

}

.trail-items {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #999;
    font-size: 12px;

    li {
        display: inline-block;
    }

    a {
        color: #000;
    }

}
