/* ==========================================================================
#MEDIA QUERIES MIXIN
========================================================================== */

/*!
 * Generated using the Bootstrap Customizer (https://getbootstrap.com/docs/3.4/customize/)
 */

/*!
 * Bootstrap v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

/* ==========================================================================
#BODY
========================================================================== */

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  background: url(images/sub-header.svg) no-repeat scroll center 0px;
}

/* ==========================================================================
#TYPOGRAPHY
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Secular One', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

/* ==========================================================================
#LINKS
========================================================================== */

a {
  color: #f454a0;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #f454a0;
  outline: 0;
}

/* ==========================================================================
#IMAGES
========================================================================== */

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

/* ==========================================================================
#HEADER
========================================================================== */

.site-header {
  background: #ffebf2;
  margin-bottom: 38px;
}

.site-header > .container {
  display: flex;
  height: 70px;
  align-items: center;
}

/* ==========================================================================
#NAVIGATION
========================================================================== */

.nav {
  display: inline-block;
  margin-left: auto;
}

.nav__toggle {
  width: 35px;
  height: 35px;
  background: #f650a0;
  border: 1px solid #f650a0;
  border-radius: 3px;
}

.nav__toggle:focus {
  outline: 0;
}

.nav__toggle-icon {
  position: relative;
  display: block;
  height: 2px;
  background: #fff;
}

.nav__toggle-icon:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.nav__toggle-icon:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.menu.mobile-on {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 99;
  width: 100%;
  display: block;
  background: #f650a0;
  -webkit-animation: menuSlideUp 0.5s;
  animation: menuSlideUp 0.5s;
}

.menu.mobile-on li {
  display: block;
  border-bottom: 1px solid #fff;
  text-align: center;
  padding: 10px;
}

.menu li {
  display: inline-block;
}

.menu a {
  font-size: 15px;
  letter-spacing: 0.05px;
  color: #000;
  text-transform: uppercase;
  margin-right: 19px;
  text-decoration: none;
}

@-webkit-keyframes menuSlideUp {
  0% {
    top: 100px;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menuSlideUp {
  0% {
    top: 100px;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ==========================================================================
#EXTRAS
========================================================================== */

.site-extras {
  font-size: 14.3px;
  letter-spacing: 0.05px;
  display: none;
}

.site-extras a {
  text-decoration: none;
}

.site-extras__sep {
  font-weight: bold;
  font-size: 13px;
}

.site-extras__eng {
  color: #000;
}

.site-extras__cart {
  background: url(images/cart.svg) no-repeat -1px 3px;
  padding-left: 20px;
  margin: 0 3px 0 16px;
  display: block;
}

/* ==========================================================================
#SUB HEADER
========================================================================== */

.sub-header {
  margin-bottom: 35px;
}

.sub-header__title {
  font-size: 35px;
  letter-spacing: 0.18px;
  font-weight: normal;
  margin: 0 0 5px -3px;
}

.sub-header__text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.05px;
  color: #333333;
  margin-bottom: 39px;
}

.trail-items {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #999;
  font-size: 12px;
}

.trail-items li {
  display: inline-block;
}

.trail-items a {
  color: #000;
}

/* ==========================================================================
#LOCATION
========================================================================== */

.location__inner {
  background: #fff;
  box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
  margin-bottom: 43px;
  overflow: hidden;
}

.location__info {
  padding: 22px;
}

.location__title {
  background: url(images/location.svg) no-repeat scroll 0 0;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.07px;
  border-bottom: 1.2px solid #e7e7e7;
  padding: 0 0 14px 23px;
  margin: 0 0 15px;
}

.location__address {
  display: block;
  font-style: normal;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 0.05px;
  margin: 8px 0 -3px;
}

.location p {
  margin-top: 13px;
}

.location__contact-title {
  font-weight: normal;
  letter-spacing: 0.05px;
}

.location__contact a {
  text-decoration: underline;
  color: #000;
}

.location__tags {
  margin: 17px 0 0 -3px;
}

.location__tag {
  display: inline-block;
  margin: 0 5px 9px 0;
  border-radius: 3px;
  padding: 7px 9px 4px 6px;
  color: #000;
  font-family: 'Secular One', sans-serif;
  letter-spacing: 0.04px;
  line-height: 1;
  font-size: 12.9px;
}

.location__tag:hover,
.location__tag:focus,
.location__tag:active {
  text-decoration: none;
  color: #000;
}

.location__tag.pink {
  background: #ffebf2;
}

.location__tag.green {
  background: #a3e8d6;
}

.location__tag.purple {
  background: #e0c5ec;
}

.location__tag.yellow {
  background: #fcfa96;
}

.location__order {
  position: relative;
  border-bottom: 1px dashed #999;
  display: block;
  margin: 7px 0 30px;
}

.location__order-note {
  position: absolute;
  top: -7px;
  right: -1px;
  background: #fff;
  font-size: 11px;
  color: #999;
  letter-spacing: 0.04px;
  padding-right: 2px;
}

.location__gallery {
  margin: 0 -4px;
}

.location__gallery img {
  float: left;
  padding: 0 4px 8px;
  width: 50%;
}

.location__map {
  padding: 37px;
  overflow: hidden;
  clear: both;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  width: 100%;
  height: 300px;
}

/* ==========================================================================
#MASONRY
========================================================================== */

.masonry {
  clear: both;
}

.masonry__title {
  font-size: 35px;
  letter-spacing: 0.12px;
  text-align: center;
  margin-bottom: 20px;
}

.masonry__text {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 128px;
}

.grid {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 100px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid__item {
  float: left;
  margin-bottom: 18px;
}

.grid__item--w1 {
  width: 124px;
}

.grid__item--w2 {
  width: 134px;
}

.grid__item--w3 {
  width: 146px;
}

.grid__item--w4 {
  width: 178px;
}

.grid__item--w5 {
  width: 270px;
}

.grid__item--w6 {
  width: 371px;
}

/* ==========================================================================
#SOON
========================================================================== */

.soon {
  position: relative;
  min-height: 456px;
  background: url(images/rectangle.svg) no-repeat scroll top;
  margin-bottom: 130px;
}

.soon__text {
  align-self: center;
  order: 2;
  padding: 80px 30px 0;
  text-align: left;
  width: auto;
}

.soon__title {
  color: #fff;
  font-size: 30px;
  line-height: 1.22;
  letter-spacing: 0.15px;
  margin-bottom: 35px;
  text-align: center;
}

.soon__images {
  display: flex;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}

.soon__img:last-of-type {
  margin-left: 20px;
}

/* ==========================================================================
#COMPANY
========================================================================== */

.company {
  margin-bottom: 30px;
}

.company__title {
  font-size: 18px;
  color: #000;
  margin-bottom: 44px;
}

.company__title--ketering {
  margin-bottom: 5px !important;
}

.company__items--narrow {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 54px;
}

.company__items--wide {
  overflow: hidden;
  clear: both;
  margin-bottom: 24px;
}

.company__items--half {
  width: 100%;
  float: left;
  margin: 0px -6px 24px;
  padding-left: 6px;
}

.company__items--half .company__title {
  margin: 0 0 25px 0px;
}

.company__images {
  margin: 0 -6px;
}

.company__images img {
  margin: -16px 0px 0 0;
  padding: 0 7px;
}

.company__box {
  background: #d8d8d8;
  width: 100%;
  height: 42px;
  margin: 0px 6px 12px 6px;
  float: left;
}

.company__box--1 {
  max-width: 114px;
}

.company__box--2 {
  max-width: 81px;
}

.company__box--3 {
  max-width: 109px;
}

.company__box--4 {
  max-width: 81px;
}

.company__box--5 {
  max-width: 104px;
}

.company__box--r1 {
  max-width: 121px;
}

.company__box--r2 {
  max-width: 85px;
}

.company__box--r3 {
  max-width: 61px;
}

/* ==========================================================================
#FOOTER
========================================================================== */

.footer-wide {
  position: relative;
  min-height: 345px;
  padding-top: 67px;
  background: #ffebf2 url(images/donut.png) no-repeat scroll right bottom;
  background-size: 50%;
  box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
}

.footer-wide:before {
  content: '';
  width: 141px;
  height: 171px;
  display: block;
  background: url(images/footer-line-1.svg) no-repeat;
  position: absolute;
  bottom: 0;
}

.footer-wide:after {
  content: '';
  position: absolute;
  right: 368px;
  bottom: 0px;
  display: none;
  width: 374px;
  height: 96px;
  background: url(images/footer-line-2.svg) no-repeat;
}

.widget-about p {
  color: #222;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.logo-footer {
  margin: -4px 0 20px;
}

.social-icons {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
}

.social-icons a {
  display: block;
  text-indent: -999em;
  width: 25px;
  height: 25px;
}

.social-icons a.tiktok {
  background: url(images/tiktok.png) no-repeat;
}

.social-icons a.facebook {
  background: url(images/facebook.png) no-repeat;
}

.social-icons a.instagram {
  background: url(images/instagram.png) no-repeat;
}

.footer-menu {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.footer-menu li {
  display: block;
  margin-bottom: 8px;
}

.footer-menu a,
.footer-menu a:hover {
  font-size: 15px;
  color: #000;
}

.footer-faq {
  list-style: none;
  padding: 0;
}

.footer-faq li {
  display: block;
  margin-bottom: 9px;
}

.footer-faq a {
  color: #222;
}

.footer-team p {
  color: #f454a0;
}

.site-info {
  clear: both;
  margin-top: 57px;
  padding-bottom: 28px;
  padding-left: 29px;
  font-size: 12px;
  color: #656565;
  letter-spacing: 0.05px;
}

/* ==========================================================================
#HELPERS
========================================================================== */

.clearfix {
  clear: both;
}

.font-secondary {
  font-family: 'Secular One', sans-serif;
}

.ttu {
  text-transform: uppercase;
}

.button {
  display: inline-block;
  background: #f454a0;
  padding: 6px 15px 4px;
  font-size: 14px;
  color: #fff;
  box-shadow: 0 1px 9px 0 var(--navy-20);
  border-radius: 2px;
}

.button:hover,
.button:focus {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 320px) {
  .nav {
    margin: 0 auto;
  }

  .site-extras {
    display: block;
  }
}

@media only screen and (min-width: 360px) {
  .site-extras__cart {
    display: inline-block;
  }
}

@media only screen and (min-width: 420px) {
  .soon__text {
    padding-top: 132px;
  }
}

@media only screen and (min-width: 480px) {
  .site-header {
    margin-bottom: 78px;
  }

  .sub-header__title {
    font-size: 55px;
  }

  .sub-header__text {
    max-width: 69%;
  }

  .location__gallery img {
    width: 25%;
  }

  .gmap_canvas {
    height: 421px;
  }
}

@media only screen and (min-width: 640px) {
  .company__items--narrow {
    max-width: 213px;
  }

  .company__items--wide {
    margin-bottom: 54px;
    padding-left: 16px;
    clear: none;
  }

  .company__items--half {
    width: 50%;
    margin-bottom: 54px;
  }

  .company__items--half:nth-of-type(2n) {
    padding-left: 28px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media only screen and (min-width: 768px) {
  .location__info {
    padding: 43px;
  }

  .location__availability {
    padding: 0 0 0 29px;
  }

  .soon {
    display: flex;
    background-position: center;
  }

  .soon__text {
    padding: 0 0 0 67px;
  }

  .soon__title {
    font-size: 45px;
    text-align: left;
    margin-bottom: 0px;
  }

  .soon__images {
    max-width: 669px;
    margin: auto;
  }

  .soon__img:last-of-type {
    margin: 132px 0 0 27px;
  }

  .footer-wide {
    background-size: auto;
  }

  .footer-wide:after {
    display: block;
  }

  .social-icons {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media only screen and (min-width: 992px) {
  .nav__toggle {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu.mobile-on {
    display: none;
  }

  .location__info {
    padding: 43px 85px 33px 27px;
  }

  .location__map {
    padding: 23px 58px 43px;
  }

  .location__map {
    padding: 0 0 0 30px;
    clear: none;
  }

  .footer-menu {
    padding: 0 0 0 45px;
  }

  .footer-faq {
    margin: 0 0 0 4px;
  }

  .footer-team p {
    padding-left: 9px;
  }

  .footer-team .button {
    margin: 0px 0 0 8px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}